<h1>This is what you finna get, son</h1>
<p>This how much you got: <%= @money %></p>
<p>This how many quarters you gon get: <%= @quarters %></p>
<p>This how many dimes you gon get: <%= @dimes %></p>
<p>This how many nickels you gon get: <%= @nickels %></p>
<p>This how many pennies you gon get: <%= @pennies %></p>
